# env and cache files
.venv
.env
__pycache__
.pytest_cache
.codex
.vscode

# Ignore config files
config.yaml

# ignore dirs
ignore

# outputs files
operation_list.txt
final_operation_list.txt
results.txt 
operations/
results/
somef.json
somef_outputs/

